<% layout('layouts/boilerplate') -%>

<section class="team-hero text-center py-5">
  <h1>Meet the Team</h1>
  <p>Our talented developers who built WriteNow.</p>
</section>

<section class="team-container container">
  <div class="row justify-content-center">
    <!-- Team Member 1 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="team-card">
        <img src="/images/simran.jpg" alt="Developer Photo" />
        <div class="team-info">
          <h5>Simran Kant</h5>

          <div class="team-social">
            <a href="https://github.com/SimranKant"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/simran-kant-74056a281/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Member 2 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="team-card">
        <img src="/images/megha.jpg" alt="Developer Photo" />
        <div class="team-info">
          <h5>G Megamala</h5>

          <div class="team-social">
            <a href="https://github.com/meghanapandu"
              ><i class="bi bi-github"></i
            ></a>
            <a href="http://www.linkedin.com/in/g-megamala-5b065331b"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- Team Member 3 -->
    <div class="col-md-4 col-sm-6 mb-4">
      <div class="team-card">
        <img src="/images/ashmi.jpg" alt="Developer Photo" />
        <div class="team-info">
          <h5>Ashmi Pandey</h5>

          <div class="team-social">
            <a href="https://github.com/Ashmipande-y"
              ><i class="bi bi-github"></i
            ></a>
            <a href="https://www.linkedin.com/in/ashmi-pandey-63a487281/"
              ><i class="bi bi-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
